@use "../../../GlobalStyle/mainScss.scss" as *;

.aboutUsHome {
  padding: $space-between-elements 0 $space-between-elements 0;
  width: 100%;
  display: none;
  .aboutUsHomeContent {
    max-width: 361px;
    .aboutUsHomeTitle {
      font-family: $font-medium;
      font-size: $font-size-xl-v4;
    }
    .pAoutUsHome {
      font-family: $font-regular;
      font-size: $font-size-lg-v3;
    }
  }
}
