@use "../../../GlobalStyle/mainScss.scss" as *;

@include media-max(phablet) {
  .ourTeamHead {
    height: 500px;
    .ourTeamTitle {
      padding: 235px 0;
    }
  }
}

@include media-max(phone) {
  .ourTeamHead {
    position: relative;
    height: 500px;
  }
  .ourTeamHead::after {
    content: "";
    display: block;
    background-image: url("/icon/arrowsWhite.svg");
    @include bgConfig(74px, 62px);
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
